<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Screenings</h1>
    <%= link_to 'New screening', new_screening_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="screenings" class="min-w-full">
    <%= render @screenings %>
  </div>

  <div class="containter mt-5 text-center">
    <h1> This is sample content</h1>
    <p> ... </p>
    <%= month_calendar(events: @screenings) do |date| %>
      <div class="day">
        <%= date.day %>
      </div>
    <% end %>
  </div>

</div>
