<div class="w-full text-sky-200">
  <div class="sticky top-0">
    <%= render  "shared/nav_bar" %>
  </div>

  <% if user_signed_in? %>
    <% if current_user.moderator? %>
      <div class="flex justify-between items-center">
        <h1 class="font-bold text-4xl">Movies</h1>
        <%= link_to 'New movie', new_movie_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      </div>
    <% end %>
  <% end %>

  <div class="">
    <h1 class="font-doble">EVERY MOVIE EVER</h1>
    <% @movies.reverse_each do |movie| %>
      <div class="flex flex-col text-sky-500">
        <%= movie.title %>
      </div>
    <%end%>
  </div>

  <div></div>

  <div id="movies" class="w-full h-2/3 flex max-h-screen overflow-y-auto flex-col flex-grow ">
    <%= @movies.each do |movie| %>
      <div class="py-5">
        <p>Title: <%= movie.title %></p>
        <p>Rating: <%= movie.rating%></p>
        <p>Summary: <%= movie.summary%></p>
      </div>
    <% end %>
  </div>
</div>
