<div class="w-full text-sky-500">
  <div class="sticky top-0">
    <%= render  "shared/nav_bar" %>
  </div>

  <div class="flex justify-center pb-2 ">
    <h1 class="flex justify-center px-8 pb-5 text-4xl underline bg-contain border-2 border-solid bg-sky-200 font-doble underline-offset-4 rounded-md">EVERY MOVIE EVER</h1>
  </div>

  <div class="pb-5">
    <% @movies.reverse_each do |movie|%>
      <div class="flex w-full py-2 my-1 bg-white border-4 border-gray-300 border-solid rounded-full">
        <h1 class ="flex justify-center w-4/6"><%= movie.title %></h1>
        <button class ="flex justify-center w-1/6 mr-4 bg-pink-300 border-2 border-pink-300 border-solid rounded-full">
            <%= ("★" *(movie.reviews.pluck(:score).sum /
            (movie.reviews.pluck(:score).length.to_f > 0 ?  movie.reviews.pluck(:score).length.to_f : 1.to_f)).ceil) + ("☆" * (5-(movie.reviews.pluck(:score).sum /
            (movie.reviews.pluck(:score).length.to_f > 0 ?  movie.reviews.pluck(:score).length.to_f : 1.to_f)))) %>
        </button>
        <button class ="flex justify-center w-1/6 mr-4 bg-pink-300 border-2 border-pink-300 border-solid rounded-full">
          <%= link_to 'Latest Review',  movie.reviews[-1]%>
        </button>
      </div>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <% if current_user.moderator? %>
      <div class="flex items-center justify-between">
        <%= link_to 'New movie', new_movie_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      </div>
    <% end %>
  <% end %>

</div>
