<section class="px-5 border-double text-gray-600 body-font">
  <% if current_user %>
    <%= render  "shared/nav_bar" %>
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h2 class="text-xs text-sky-500 tracking-widest 
        font-medium title-font mb-1">Reynaldo Gutierrez Presents</h2>
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 
                   text-gray-900">Movie Night 🍿 </h1>
        <p class="bg lg:w-4/5 mx-auto leading-relaxed text-base">Welcome to movie night! Below are posts for each movie night iteration. Also included are buttons for the suggestion page where you can suggest a movie for the week, and our calendar that shows past screenings as well as any upcoming ones. Directly below is a loose weekly schedule of how the site is operated.Thank you for participating in movie night.</p>
      </div>
      <div id="sketch-holder" class="w-full flex justify-center"></div>
      <script
          src="https://cdn.jsdelivr.net/npm/p5@1.4.2/lib/p5.js" async>
      </script>
      <script async>

        function setup() {
          let canvasDiv = document.getElementById('sketch-holder');
          let width = canvasDiv.offsetWidth;
          console.log(width);
          let canvas = createCanvas(width,25);
          canvas.parent("sketch-holder");
          background(220);
        }

        function draw(){
          frameRate(40);
          let num = Math.floor(Math.random() * 40 -20  ); 
          let numy = Math.floor(Math.random() * 40 -20  );
         
          //rect(mouseX, mouseY, num, numy);
          //rect(30, 30, 40, 40);
          if (mouseIsPressed === true){
            fill(0);
          }
          else{
            fill(255);
          }
          rect(mouseX, mouseY, num, numy);
        }
      </script>
      <div class="w-full">
        <div class="grid grid-cols-7 grid-rows-2 content-start py-8">
          <div class="bg-sky-500/25 text-center rounded-tl-lg">Sunday</div>
          <div class="bg-sky-500/50 text-center">Monday</div>
          <div class="bg-sky-500/75 text-center">Tuesday</div>
          <div class="bg-sky-500/75 text-center">Wednesday</div>
          <div class="bg-sky-500/100 text-center">Thursday</div>
          <div class="bg-sky-500/25 text-center">Friday</div>
          <div class="bg-sky-500/25 text-center rounded-tr-lg">Saturday</div>
          <div class="bg-sky-500/25 rounded-bl-lg"></div>
          <div class="bg-sky-500/50 text-center text-white">Form Out</div>
          <div class="bg-sky-500/75 text-center text-white">Decision Day</div>
          <div class="bg-sky-500/75"></div>
          <div class="bg-sky-500/100 text-center text-white">Movie Night!</div>
          <div class="bg-sky-500/25 text-center text-white">Suggestions</div>
          <div class="bg-sky-500/25 rounded-br-lg"></div>
        </div>
      <div class="flex flex-wrap">
      </div>
      <% @posts.reverse_each do |post| %>
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2"><%= link_to post.title, post %></h2>
          <p class="leading-relaxed text-base mb-4"><%= post.body %></p>
          <a class="text-indigo-500 inline-flex items-center"> <%= link_to post.link, post.link %>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      <% end %>

      <br>



      <button class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
        <%= link_to "Suggest a Movie", new_suggestion_path %>
      </button>


      <button class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
        <%= link_to "Calendar", nome_path %>
      </button>

      <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 
      px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"><%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete%></button>
      </div>


    <% if current_user.moderator? %>
      <h1> Role: Moderator </h1>
      <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 
      px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="button">
        <%= link_to "New Post", new_post_path %>
      </button>
    <% end %>

  <% else %>
    <h5 class="text-4xl font-normal leading-normal mt-0 mb-2 text-blue-800">
      <p>Not signed in</p>
    </h5>
    <button class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
      <%= link_to "Sign up", new_user_registration_path %>
    </button>
    <button class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
      <%= link_to "Login", new_user_session_path %>
    </button>
  <% end %>
</section>
