<div class="w-full"> 
  <%# bg-inherit px-5 border-double text-sky-100 body-font"> %>
  <div class="sticky top-0">
    <%= render  "shared/nav_bar" %>
  </div>

  <div class="container px-5 py-24 mx-auto">
    <div class="backdrop-invert backdrop-opacity-60 rounded-md flex flex-col text-center w-full mb-20 ">
      <h1 class="text-white sm:text-4xl font-doble mb-4 pt-7
                      ">Movie Night 🍿</h1>
      <p class="lg:w-4/5 mx-auto pb-7 leading-relaxed text-md font-semibold">Welcome to movie night! Below is the calendar for this month's scheduled and previously held movie nights. On the nav bar you will see links to the suggestions page where you may suggest a movie and with an account or using the guest account, you may vote for this week's pick. We also now have a reviews section, come check out our thoughts on our most recent cinematic experiences. The movies page will list out movies we have watched, their average ratings based on reviews and link to the latest review posted for the movie.Thank you for participating in movie night.</p>
    </div>
    <br>
  </div>

  <div>
    <%= month_calendar(events: @screenings) do |date, screenings|%>
      <div class="day">
        <%= date.day %>
      </div>
      <% screenings.each do |screening|%>
        <div class="card-header">
          <div class="card-title">
            <%= link_to screening.title, screening %>
          </div>
        </div>
        <div class="card-footer">
          <p class="card-text">
            From: <%= screening.start_time.strftime('%a %I %p') %>
          </p>
          <p>---</p>
          <p class="card-text">
            <%= screening.start_time.strftime('%a %I %p') %>
          </p>
        </div>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <% if current_user.moderator? %>
        <h1> Role: Moderator </h1>
        <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 
                         px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="button">
          <%= link_to "New Screening", new_screening_path %>
        </button>
      <% end %>
      <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"><%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete%></button>
  </div>
    <% end %>

  <% if !user_signed_in? %>
    <h5 class="text-4xl font-normal leading-normal mt-0 mb-2 text-sky-300 p-5">
      <p>Not signed in</p>
    </h5>

    <div>
      <%= link_to new_user_registration_path do %>
        <button class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
          Sign up
        </button>
      <% end %>
    </div>

    <div>
      <%= link_to new_user_session_path do %>
        <button class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
          Login 
        </button>
      <%end%>
    <% end %>
    </div>
</div>

