<section class="bg-inherit px-5 border-double text-sky-100 body-font">
  <% if current_user %>
    <div class="sticky top-0">
      <%= render  "shared/nav_bar" %>
    </div>
    <div class="container px-5 py-24 mx-auto">
      <div class="backdrop-invert backdrop-opacity-60 rounded-md flex flex-col text-center w-full mb-20 ">
        <h1 class="text-white sm:text-4xl font-doble mb-4 pt-7
                   ">Movie Night 🍿 </h1>
        <p class="lg:w-4/5 mx-auto pb-7 leading-relaxed text-md font-semibold">Welcome to movie night! Below are posts for each movie night iteration. Also included are buttons for the suggestion page where you can suggest a movie for the week, and our calendar that shows past screenings as well as any upcoming ones. We also now have a reviews section, come check out our thoughts on our most recent cinematic experiences. Directly below is a loose weekly schedule of how the site is operated.Thank you for participating in movie night.</p>
      </div>
      <div id="sketch-holder" class="w-full flex justify-center"></div>
      <script
          src="https://cdn.jsdelivr.net/npm/p5@1.4.2/lib/p5.js" >
      </script>
      <%= javascript_include_tag'sketch.js' %>
      <script 
        src="./sketch.js" >
      </script>
      <script async>
      </script>
      <div class="w-full">
        <div class="grid grid-cols-7 grid-rows-2 content-start py-8">
          <div class="bg-sky-500/25 text-center rounded-tl-lg font-doble">Sunday</div>
          <div class="bg-sky-500/50 text-center">Monday</div>
          <div class="bg-sky-500/75 text-center">Tuesday</div>
          <div class="bg-sky-500/75 text-center">Wednesday</div>
          <div class="bg-sky-500/100 text-center">Thursday</div>
          <div class="bg-sky-500/25 text-center">Friday</div>
          <div class="bg-sky-500/25 text-center rounded-tr-lg">Saturday</div>
          <div class="bg-sky-500/25 rounded-bl-lg"></div>
          <div class="bg-sky-500/50 text-center text-white">Form Out</div>
          <div class="bg-sky-500/75 text-center text-white">Decision Day</div>
          <div class="bg-sky-500/75"></div>
          <div class="bg-sky-500/100 text-center text-white">Movie Night!</div>
          <div class="bg-sky-500/25 text-center text-white">Suggestions</div>
          <div class="bg-sky-500/25 rounded-br-lg"></div>
        </div>
      <div class="flex flex-wrap">
      </div>
      <div>
        <% @posts.last(4).reverse_each do |post| %>
          <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
            <h2 class="text-lg sm:text-xl text-sky-200 font-medium title-font mb-2"><%= link_to post.title, post %></h2>
            <p class="leading-relaxed text-base mb-4"><%= post.body %></p>
            <a class="text-indigo-500 inline-flex items-center"> <%= link_to post.link, post.link %>
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        <% end %>
      </div>

      <br>

      <div>
        <%= link_to new_suggestion_path do %>
          <button class="block bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
            Suggest a movie!
          </button>
        <% end %>
      </div>

      <div>
        <%= link_to nome_path do %>
          <button class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
            Movie Calendar
          </button>
        <% end %>
      </div>

      <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 
      px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"><%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete%></button>
      </div>

    <% if current_user.moderator? %>
      <h1> Role: Moderator </h1>
      <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 
      px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="button">
        <%= link_to "New Post", new_post_path %>
      </button>
    <% end %>

  <% else %>
    <h5 class="text-4xl font-normal leading-normal mt-0 mb-2 text-blue-800">
      <p>Not signed in</p>
    </h5>

    <div>
      <%= link_to new_user_registration_path do %>
        <button class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
          Sign up
        </button>
      <% end %>
    </div>

    <div>
      <%= link_to new_user_session_path do %>
        <button class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
         Login 
        </button>
      <% end %>
    </div>

  <% end %>
</section>
