<div class="w-full"> 
  <div class="sticky top-0">
    <%= render  "shared/nav_bar" %>
  </div>

  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col w-full mb-20 text-center backdrop-invert backdrop-opacity-60 rounded-md ">
      <h1 class="mb-4 text-white sm:text-4xl font-doble pt-7 ">Movie Night 🍿</h1>
      <p class="mx-auto font-semibold leading-relaxed lg:w-4/5 pb-7 text-md">Welcome to movie night!!! Below is the calendar for this month's scheduled and previously held movie nights. On the nav bar you will see links to the suggestions page where you may suggest a movie and with an account or using the guest account, you may vote for this week's pick. We also now have a reviews section, come check out our thoughts on our most recent cinematic experiences. The movies page will list out movies we have watched, their average ratings based on reviews and link to the latest review posted for the movie.Thank you for participating in movie night.</p>
    </div>
    <br>
  </div>

  <div>
    <%= month_calendar events: @screenings do |date, screenings|%>
      <div class="day">
        <%= date.day %>
      </div>
      <% screenings.each do |screening|%>
        <div class="card-header">
          <div class="card-title">
            <%= link_to screening.title, screening %>
          </div>
        </div>
        <div class="card-footer">
          <p class="card-text">
            From: <%= screening.start_time.strftime('%a %I %p') %>
          </p>
          <p>---</p>
          <p class="card-text">
            <%= screening.start_time.strftime('%a %I %p') %>
          </p>
        </div>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <% if current_user.moderator? %>
        <h1> Role: Moderator </h1>
        <button class="flex px-8 py-2 mx-auto mt-16 text-lg text-white bg-indigo-500 border-0 rounded focus:outline-none hover:bg-indigo-600" type="button">
          <%= link_to "New Screening", new_screening_path %>
        </button>
      <% end %>
      <button class="flex px-8 py-2 mx-auto mt-16 text-lg text-white bg-indigo-500 border-0 rounded focus:outline-none hover:bg-indigo-600">
        <%= link_to "Sign out", destroy_user_session_path,
                    'data-turbo-method': :delete %>
      </button>
    <% end %>
  </div>
  
</div>

