<div class="container mx-auto w-2/3">
  <%= month_calendar(events: @screenings) do |date, screenings| %>
    <div class="day">
      <%= date.day %>
    </div>
    <% screenings.each do |screening| %>
      <div class="card-header">
        <div class="card-title">
          <%= link_to screening.title, screening %>
        </div>
      </div>
      <div class="card-footer">
        <p class="card-text">
          From: <%= screening.start_time.strftime('%a %k %p') %>
        </p>
        <p> - </p>
        <p class = "card-text">
          <%= screening.end_time.strftime('%a %k %p') %>
        </p>
      </div>
    <% end %>
  <% end %>


    <% if current_user.moderator? %>
      <h1> Role: Moderator </h1>
      <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 
      px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="button">
        <%= link_to "New Screening", new_screening_path %>
      </button>
    <% end %>

</div>
