<div class="text-sky-200">
  <h1> New Review </h1>
  <br>

  <%= form_with model: @review do |form| %>
    <div>
      <%= form.label :title  %><br>
      <%= form.text_field :title, class:"dark:text-black"%>
    </div>

    <div>
      <%= form.label :author %><br>
      <%= form.text_field :author, class:"dark:text-black" %>
    </div>

    <div>
      <%= form.label :body, "Body"%><br>
      <%= form.text_area :body, class:"dark:text-black"%>
    </div>

    <div>
      <%= form.label :score %><br>
      <%= form.number_field :score, in: 1..5, step: 1, class:"dark:text-black"%>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
