<div class="bg-white dark:bg-gray-900">
    <div class="flex justify-center h-screen">
        <div class="hidden bg-cover lg:block lg:w-2/3" style="background-image: url(https://images.unsplash.com/photo-1616763355603-9755a640a287?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)">
            <div class="flex items-center h-full px-20 bg-gray-900 bg-opacity-40">
                <div>
                    <h2 class="text-4xl font-bold text-white">This Week's Suggestions</h2>
                    
                    <p class="max-w-xl mt-3 text-gray-300">
                      <% @suggestions.each do |suggestion|%>
                        <li class="text-white py-2 px-4 w-full border-b border-gray-200 dark:border-gray-600">
                          <%= suggestion.movie%>
                        </li>
                      <% end %>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6">
            <div class="flex-1">
                <div class="text-center">
                    <h2 class="text-4xl font-bold text-center text-gray-700 dark:text-white">Suggestion Box</h2>
                    
                    <p class="mt-3 text-gray-500 dark:text-gray-300">Suggest any movie you please, suggestions box reset's weekly.</p>
                </div>

                <div class="mt-8">
                  <%= form_with model: @suggestion do |form| %>
                    <div class="text-gray-700 dark:text-white">
                      <%= form.label :suggestion %><br>
                      <%= form.text_field :movie, class: "dark:text-black" %>
                    </div>

                    <div class="text-gray-700 dark:text-white">
                      <%= form.label :your_name %><br>
                      <%= form.text_field :author, class: "dark:text-black" %>
                    </div>

                    <div class="font-bold text-gray-700 dark:text-white">
                      <%= form.submit %>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
