<div class="bg-white dark:bg-gray-900">
  <div class="flex justify-center h-screen">
    <div class="hidden bg-repeat bg-moviesug3 lg:block lg:w-2/3">
      <div class="flex items-center h-full px-20 bg-gray-900 bg-opacity-40 ">
        <div>
          <h2 class="text-4xl font-bold text-white">This Week's Suggestions</h2>
          <div class="overflow-y-scroll h-82">
            <p class="max-w-xl mt-3 text-gray-300">
              <% @sugg_boxes.find_by_name("Weekly").suggestions.each do |s|%>
                <li class="w-full h-10 px-4 py-2 text-white border-b border-gray-200 dark:border-gray-600 bg-gradient-to-r from-teal-500 to-teal-200 rounded-md grid grid-cols-5">
                  <p class="overflow-hidden truncate">
                    <%= s.movie%>
                    <%= button_to "Vote", like_suggestion_path(s.id), {class: "px-5 text-white bg-teal-500 border-0 focus:outline-none hover:bg-teal-600 rounded text-lg"} %>
                    <%= s.votes_for.size%>
                    <% if user_signed_in? %>
                      <% if s.user == current_user.email %>
                        <%= button_to "Delete", suggestion_path(s), form: { data: { turbo_confirm: 'Are you sure?' } } , method: :delete %>
                        <%= button_to "Store", change_box_suggestion_path(s.id)%>
                      <% end %>
                    <% end %>
                  </p>
                </li>
              <% end %>
            </p>
          </div>
          <h2 class="pt-10 text-4xl font-bold text-white">All Time Suggestions</h2>
          <div class="overflow-y-scroll h-82">
            <p class="max-w-xl mt-3 text-gray-300">
              <% @sugg_boxes.find_by_name("All Encompassing").suggestions.each do |s|%>
                <li class="w-full h-10 px-4 py-2 text-white border-b border-gray-200 dark:border-gray-600 bg-gradient-to-r from-teal-500 to-teal-200 rounded-md grid grid-cols-5">
                  <p class="overflow-hidden truncate">
                    <%= s.movie%>
                    <%= button_to "Vote", like_suggestion_path(s.id), {class: "px-5 text-white bg-teal-500 border-0 focus:outline-none hover:bg-teal-600 rounded text-lg"} %>
                    <%= s.votes_for.size%>
                    <% if user_signed_in? %>
                      <% if s.user == current_user.email %>
                        <%= button_to "Delete", suggestion_path(s), form: { data: { turbo_confirm: 'Are you sure?' } } , method: :delete %>
                      <% end %>
                    <% end %>
                    <%= button_to "Suggest", change_box_suggestion_path(s.id)%>
                  </p>
                </li>
              <% end %>
            </p>
          </div>
          <%= button_to "Move week old suggestions", clear_suggestions_path,{class:"px-5 text-white bg-teal-500 border-0 focus:outline-none hover:bg-teal-600 rounded text-lg" } %>
        </div>
      </div>
    </div>


    <div class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6">
      <div class="flex-1">
        <div class="text-center">
          <h2 class="text-4xl font-bold text-center text-gray-700 dark:text-white">Suggestion Box</h2>
          <p class="mt-3 text-gray-500 dark:text-gray-300">Suggest any movie you please, suggestions box reset's weekly on Mondays.</p>
        </div>

        <div class="mt-8">
          <%= form_with model: @suggestion do |form| %>
            <div class="py-2 text-gray-700 dark:text-white">
              <%= form.label "Email (optional)"%><br> 
              <%= form.text_field :user, value:(current_user ? current_user.email : "") , class:"dark:text-black" %>
            </div>

            <div class="py-2 text-gray-700 dark:text-white">
              <%= form.label :suggestion %><br>
              <%= form.text_field :movie, class: "dark:text-black" %>
            </div>

            <div class="py-2 text-gray-700 dark:text-white">
              <%= form.label :your_name %><br>
              <%= form.text_field :author, class: "dark:text-black" %>
            </div>

            <div class="py-2 text-gray-700 dark:text-white">
              <%= form.label :sugg_box, "List"%><br>
              <%= form.select :sugg_box_id, SuggBox.all.pluck(:name, :id),{promp:'select'},{class: "form-control, dark:text-black"}%>
            </div>

            <div class="font-bold text-gray-700 dark:text-white">
              <%= form.submit %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
