<%= turbo_frame_tag s do %> 

  <div data-controller="clip">

    <li class="w-full h-10 px-4 py-2 text-white border-b border-gray-200 dark:border-gray-600 bg-gradient-to-r from-teal-500 to-teal-200 rounded-md grid grid-cols-8">

      <p class="overflow-hidden truncate col-span-2", data-clip-target="source", title="<%= s.description %>"><%= s.movie%></p>
      <%= button_to "Vote", like_suggestion_path(s.id), { class: "px-1 lg:px-5 text-white bg-teal-500 border-0 hover:bg-teal-300 rounded text-lg focus:ring focus:outline-none focus:ring-offset-4 focus:ring-teal-200 focus:ring-opacity-50 active:bg-teal-600 hover:-translate-y-0.5 transition duration-200 bg-teal-500 shadow-lg ", method: :post } %>
      <p class="flex justify-center"><%= s.votes_for.size%></p>
      <%= button_to "Dsc", show_description_suggestion_path(s.id) %>
      <%# <span data-clip-target="source">It's all okay.</span> %>
      <span><%= button_tag "Copy", data: { action: "clip#copy" }, class: "bg-black text-orange-500 rounded-md active:bg-gray-600" %></span>

      <% if user_signed_in? %>
        <% if s.user == current_user.email %>
          <%= button_to "Move", change_box_suggestion_path(s.id), data: { turbo_frame: "_top" } %>
          <%= button_to "Del", suggestion_path(s), form: { data: { turbo_confirm: 'Are you sure?' } } , method: :delete %>
        <% end %>
      <% end %>

    </li>

  </div>

<% end %>
